{% extends 'home.html' %}

{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="page-header">我的商品</h2>
    <div class="row">
    {% for item in image_list %}
     <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
            <img src="{{item}}" alt="QRCode icon">
            <div class="caption">
                <!--<h3>二维码</h3>-->
            </div>
            </div>
            </div>
    {% endfor %}
    </div>
</div>
{% endblock %}}