<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Kodinger">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<META HTTP-EQUIV="pragma" CONTENT="no-cache"> 
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate"> 
    <META HTTP-EQUIV="expires" CONTENT="0">
	<title>Register Page</title>
	<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<!--<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='my-login.css') }}">
</head>
<body class="my-login-page" src="static/images/login_theme/mylogin_bg.jpg">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					<div class="brand">
						<img src="static/images/login_theme/logo.jpg" alt="bootstrap 4 login page">
					</div>
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">Register</h4>
							<form method="POST" class="my-login-validation" novalidate="">
								{{ form.csrf_token }}
								<div class="form-group">
                                    <label for="email">User-Id</label>
                					{% if form.user_id.errors %}
                    					{{ form.user_id(id='email', class='form-control') }}
										{% for error in form.user_id.errors %}
                        					<div class="invalid-feedback">
                            					{{ error }}
                        					</div>
                    					{% endfor %}
                					{% else %}
                    					{{ form.user_id(class='form-control', placeholder="请输入用户名或id", style="position:relative;width:100%") }}
                					{% endif %}
								</div>

								<div class="form-group">
									<label for="phone">Email</label>
									<div class="form-inline">
                					{% if form.email.errors %}
                    					{{ form.email(id='phone', class='form-control') }}
										{% for error in form.email.errors %}
                        					<div class="invalid-feedback">
                            					{{ error }}
                        					</div>
                    					{% endfor %}
                					{% else %}
                    					{{ form.email(class='form-control', placeholder="请输入邮箱", style="position:relative;width:100%;") }}
                					{% endif %}
										{{ form.send_code(type="submit", class='btn btn-primary btn-block') }}
									</div>
								</div>

								<div class="form-group">
                                    <label for="code">Validate-Code</label>
                					{% if form.code.errors %}
                    					{{ form.code(id='phone', class='form-control') }}
										{% for error in form.code.errors %}
                        					<div class="invalid-feedback">
                            					{{ error }}
                        					</div>
                    					{% endfor %}
                					{% else %}
                    					{{ form.code(class='form-control', placeholder="请输入邮箱验证码", style="position:relative;") }}
                					{% endif %}
								</div>

								<div class="form-group">
                                    <label for="password">Password</label>
                                    {% if form.password.errors %}
                    					{{ form.password(id='password',class='form-control is-invalid') }}
                    					{% for error in form.password.errors %}
										<div class="invalid-feedback">
                            				{{ error }}
                        				</div>
                    					{% endfor %}
                					{% else %}
                    					{{ form.password(class='form-control', placeholder="请输入密码", style="position:relative;width:100%") }}
                					{% endif %}
								</div>

								<div class="form-group">
									<div class="custom-checkbox custom-control">
										<input type="checkbox" name="agree" id="agree" class="custom-control-input" required="">
										<label for="agree" class="custom-control-label">I agree to the <a href="#">Terms and Conditions</a></label>
										<div class="invalid-feedback">
											You must agree with our Terms and Conditions
										</div>
									</div>
								</div>
								<main>
    								{% for message in get_flashed_messages() %}
        								<div class="alert">
         								   {{ message }}
        								</div>
    								{% endfor %}
    								{% block content %}{% endblock %}
								</main>
								<div class="form-group m-0">
									{{ form.submit(type="submit", class='btn btn-primary btn-block') }}
								</div>
								<div class="mt-4 text-center">
									Already have an account? <a href="{{url_for('login')}}"> Log in</a>
								</div>
							</form>
						</div>
					</div>
					<div class="footer">
						Copyright &copy; 2017 &mdash; Your Company
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>